<% provide(:title, "Devices") %>

<p id="notice"><%= notice %></p>

<table class="highlight">
  <thead>
    <tr>
      <th>Name</th>
      <th>MAC</th>
      <th>IP</th>
      <th>Owner</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.name %></td>
        <td><%= device.mac %></td>
        <td><%= device.ip %></td>

        <td><%= (device.user) ? device.user.name : (link_to 'Claim', edit_device_path(device),
          class: 'waves-effect waves-light btn-small') %></td>

        <td><%= link_to 'Edit', edit_device_path(device) %></td>
        <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
