<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <%= link_to 'My-Devices', root_path, class: "brand-logo" %>
      <span class="page-title center"><%= content_for :title %></span>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to 'Devices', devices_path %></li>
        <li><%= link_to 'API', api_docs_path %></li>
        <li><%= link_to 'Signup', new_user_registration_path %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <li><%= link_to 'Signin', new_user_session_path %></li>
      </ul>
    </div>
  </nav>
</div>